section {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.hero {
    background-image: url(image/flower.jpg);
    text-align: center;
    padding-top: 5vh;
}

.title {
    font-family: 'Hachi Maru Pop', cursive;
}